<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HKMA - 體溫儀錶板</title>
        <link rel="icon" href="/home/icon/favicon.png">
        <!--android-->
        <link rel="shortcut icon" href="/home/icon/favicon.png">
        <!--ios-->
        <link rel="apple-touch-icon" href="/home/icon/asset_ios.png">
        <link rel="apple-touch-icon" href="/home/icon/asset_ios_180.png" sizes="180x180">
        <link rel="apple-touch-icon" href="/home/icon/asset_ios_120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/home/icon/asset_ios_114.png" sizes="114x114">
        
        <!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
		<!-- jQuery Mobile --> 
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		
		<!-- HKMA -->
		<link rel="stylesheet" href="/home/css/hkma.css"></link>
        
        <style>
        	.highcharts-figure{
                margin: 0px;
            }
        </style>
	</head>
	<body>
		<!--Highcharts-->
        <script src="/home/js/Highcharts-8.0.0/highcharts.js"></script>
        <!--<script src="../code/modules/exporting.js"></script>-->    <!--選項-->
        <!--<script src="../code/modules/export-data.js"></script>-->  <!--匯出資料-->
        <script src="/home/js/Highcharts-8.0.0/modules/accessibility.js"></script>
        
		<div data-role="page" class="ui-page-theme-a">
            <div th:replace="mobile/include/header :: header"/>
            <div>
                <div class="ui-panel-wrapper">
                	<figure class="highcharts-figure">
                        <div id="container"></div>
                    </figure>
                </div>
            <div th:replace="mobile/include/menu :: menu"/>
        </div>
        
        <script th:inline="javascript">
        	var recordDateList = /*[[${recordDateList}]]*/ "";
        	var temperatureList = /*[[${temperatureList}]]*/ "";
        	
        	Highcharts.chart('container', {
				chart: {
					height: (9 / 16 * 76) + '%',
					type: 'line'
				},
				title: {
					text: '體溫儀錶板'
				},
				xAxis: {
					categories: recordDateList
				},
				yAxis: {
					max: 37,
					title: {
					  text: 'Temperature (°C)'
					}
				},
				plotOptions: {
				  	line: {
				    	dataLabels: {
				      		enabled: true
				    	},
				    	enableMouseTracking: false
				  	}
				},
				series: [{
				  	name: '溫度',
				  	data: temperatureList
				}]
			});
		</script>
	</body>
</html>