<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>HKMA - 體溫儀錶板</title>
        <link rel="icon" href="/home/icon/favicon.png" />
        
        <!-- android -->
        <link rel="shortcut icon" href="/home/icon/favicon.png" />
        
        <!-- ios -->
        <link rel="apple-touch-icon" href="/home/icon/asset_ios.png" />
        <link rel="apple-touch-icon" href="/home/icon/asset_ios_180.png" sizes="180x180" />
        <link rel="apple-touch-icon" href="/home/icon/asset_ios_120.png" sizes="120x120" />
        <link rel="apple-touch-icon" href="/home/icon/asset_ios_114.png" sizes="114x114" />
        
        <!-- jQuery -->
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		
		<!-- jQuery Mobile --> 
		<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
		<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		
		<!-- HKMA -->
		<link rel="stylesheet" href="/home/css/hkma.css" />
        
        <style>
        	.highcharts-figure{
                margin: 0px;
            }
            .ui-btn{
            	height:78vh;
				margin:0px;
            }
            .ui-btn-icon-left{
            	padding-right:0px; 
            }
            .ui-btn-icon-right{
            	padding-left:0px; 
            }
        </style>
	</head>
	<body>
		<!-- Highcharts -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <!--<script src="https://code.highcharts.com/modules/exporting.js"></script>-->    <!--選項-->
        <!--<script src="https://code.highcharts.com/modules/export-data.js"></script>-->  <!--匯出資料-->
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        
		<div data-role="page" class="ui-page-theme-a">
            <div th:replace="mobile/include/header :: header"/>
            <div class="ui-panel-wrapper">
               	<!-- <div style="display:inline-block;"><input id="back" type="button" value="往前"/></div> -->
               	<div id="back" style="vertical-align:top; display:inline-block;"><button class="ui-btn ui-icon-carat-l ui-btn-icon-left ui-shadow ui-corner-all"></button></div>
               	<!-- <figure class="highcharts-figure" style="display:inline-block;"> -->
               	<!-- <figure class="highcharts-figure"> -->
                <div id="container" style="width: calc(100% - 94px); height: 78vh; display:inline-block;"></div>
				<!-- </figure> -->
				<div id="next" style="vertical-align:top; display:inline-block;"><button class="ui-btn ui-icon-carat-r ui-btn-icon-right ui-shadow ui-corner-all"></button></div>
               	<!-- <div style="display:inline-block;"><input id="next" type="button" value="往後"/></div> -->
               	
               	<!-- <div style="display:inline-block;"><input id="next" type="button" value="往前"/></div> -->
               	<!-- <div style="display:inline-block;"><input id="next" type="button" value="往後"/></div> -->
            </div>
            <div th:replace="mobile/include/menu :: menu"/>
        </div>
        
        <script th:inline="javascript">
        	var recordDateList = /*[[${recordDateList}]]*/ "";
        	var temperatureList = /*[[${temperatureList}]]*/ "";
        	var recordDateListPart = /*[[${recordDateListPart}]]*/ "";
        	var temperatureListPart = /*[[${temperatureListPart}]]*/ "";
        	var partIndex = /*[[${partIndex}]]*/ 0;
        	
        	var chart = Highcharts.chart('container', {
        		chart: {
					type: 'line'
				},
                title: {
                    text: null
                },
                xAxis: {
                    allowDecimals: false,
                    title: {
                    	text: null
                    },
                    labels: {
                        formatter: function () {
                            return this.value;
                        }
                    },
                    categories: recordDateListPart
                },
                yAxis: {
                    title: {
                        text: null
                    }
                },
                tooltip: {
                    shared: true
                },
                legend: {
                    enabled: false
                },
                series: [
                    {
                        name: '溫度',
                        data: temperatureListPart
                    }
                ]
            });
        	
        	$(document).ready(function() {
        		chart.xAxis[0].update({categories: recordDateListPart});
        		
        		$("#back").click(function() {
        			if(partIndex - 1 >= 0){
        				partIndex--;
            			recordDateListPart.splice((recordDateListPart.length - 1), 1);
            			temperatureListPart.splice((temperatureListPart.length - 1), 1);
            			recordDateListPart.unshift(recordDateList[partIndex]);
            			temperatureListPart.unshift(temperatureListPart[partIndex]);
            			chart.xAxis[0].update({categories: recordDateListPart});
            			chart.series[0].setData(temperatureListPart);
        			}
                });
        		$("#next").click(function() {
        			
        			if(partIndex + 30 < recordDateList.length){
        				partIndex++;
            			recordDateListPart.splice(0, 1);
            			temperatureListPart.splice(0, 1);
            			recordDateListPart.push(recordDateList[partIndex + 30 - 1]);
            			temperatureListPart.push(temperatureListPart[partIndex + 30 - 1]);
            			chart.xAxis[0].update({categories: recordDateListPart});
            			chart.series[0].setData(temperatureListPart);
        			}
                });
        	});
		</script>
	</body>
</html>