<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HKMA - 股票損益表</title>
        <link rel="icon" href="/home/icon/favicon.png">
        <!--android-->
        <link rel="shortcut icon" href="/home/icon/favicon.png">
        <!--ios-->
        <link rel="apple-touch-icon" href="/home/icon/favicon_ios.png">
        <link rel="apple-touch-icon" href="/home/icon/favicon_ios_180.png" sizes="180x180">
        <link rel="apple-touch-icon" href="/home/icon/favicon_ios_120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/home/icon/favicon_ios_114.png" sizes="114x114">
        
        <!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
		<!-- jQuery Mobile --> 
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		
		<!-- HKMA -->
		<link rel="stylesheet" href="/home/css/hkma.css"></link>
	</head>
	<body>
		<div data-role="page">
            <div th:replace="mobile/include/header :: header"/>
            <div class="ui-panel-wrapper">                
                <table data-role="table" data-mode="" class="ui-shadow table-stripe">
                    <thead>
                        <tr>
                          <th>日期</th>
                          <th>名稱</th>
                          <th style="text-align:right">損益</th>
                        </tr>
                    </thead>
                    <tbody>
	                    <tr th:each="row : ${list}">
	                        <td th:text="${row.recordDate}"/>
	                        <td th:text="${row.name}"/>
	                        <td th:style="'text-align:right; color:' + (${#strings.indexOf(row.income,'-')} >= 0 ? 'green' : 'red')" th:text="${row.income}"/>
	                    </tr>
                    </tbody>
                  </table>
            </div>
            <div th:replace="mobile/include/menu :: menu"/>
        </div>
	</body>
</html>